body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

#app {
  width: 700px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
}

#timer {
  font-size: 22px;
  color: red;
  text-align: right;
}

.answer {
  margin: 10px 0;
}
